a, li {
    color: white;
}

body {
    background-color: #1d1d1d;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    align-items: center;
    margin: 0 auto;
}

.animate__animated {
    margin: 5%;
    padding: 0%;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    &:hover img {
        transition-duration: 0.5s;
        transform: scale(0.9);
        box-shadow: 0 0 20px rgba(252, 19, 248, 0.632);
    }
    &:hover .movie_box {
        transition-duration: 0.5s;
        opacity: 1;
        backdrop-filter: blur(10px);
        transform: scale(0.9);
    }
}

.movie_img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: inherit;
}

.movie_box {
    position: absolute;
    height: 300px;
    width: 200px;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(252, 19, 248, 0.1);
    padding: 0%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

h1, h2, h3, p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h3 {
    overflow: wrap;
    text-align: center;
    text-justify: center;
}

p {
    padding: 5%;
    overflow: wrap;
}